# dependencies
node_modules/
.pnp
.pnp.js
/backend/node_modules/
/frontend/node_modules/
/admin/node_modules/

# environment files
.env
/backend/.env
/frontend/.env
/admin/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# production
/build
/backend/build
/frontend/build
/admin/build

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
/backend/.DS_Store
/frontend/.DS_Store
/admin/.DS_Store
